###### Shell Plugins ######

# ZSH enhancements
[submodule "oh-my-zsh"]
	path = oh-my-zsh
  url = git://github.com/robbyrussell/oh-my-zsh.git

# Syntax highlighting for ZSH
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

###### VI Plugins #######

# VI plugin manager
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
  url = https://github.com/gmarik/vundle.git

# Fancier VIM status bar
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
  url = git://github.com/tpope/vim-rails.git

# Directory tree with \nt
[submodule "vim/bundle/NERD_tree"]
	path = vim/bundle/NERD_tree
	url = git@github.com:scrooloose/nerdtree.git

# Fuzzy file finder
[submodule "vim/bundle/vim-autoformat-rails"]
	path = vim/bundle/vim-autoformat-rails
  url = https://github.com/KurtPreston/vim-autoformat-rails.git

# Show recently opened files on load
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
  url = https://github.com/mhinz/vim-startify.git

# Undo tree viewing
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
  url = https://github.com/sjl/gundo.vim.git

# Fancy status bar
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
  url = https://github.com/bling/vim-airline.git

# Git integration
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git

# Clojure library support
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
  url = git://github.com/tpope/vim-fireplace.git

# Allow ,w to jump to next subword in variable
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
  url = https://github.com/bkad/CamelCaseMotion.git

# Automatically create 'end' when typing 'do'
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
  url = https://github.com/tpope/vim-endwise.git

# Auto-match parens
[submodule "vim/bundle/paredit.vim"]
	path = vim/bundle/paredit.vim
  url = https://github.com/vim-scripts/paredit.vim.git

# Run rspec tests in VIM
[submodule "vim/bundle/ruby_focused_unit_test_vim"]
	path = vim/bundle/ruby_focused_unit_test_vim
  url = https://github.com/drewolson/ruby_focused_unit_test_vim.git

# Auto-comment code
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
  url = https://github.com/tomtom/tcomment_vim.git

# Fix period character repeat with plugins
[submodule "vim/bundle/repeat.vim"]
	path = vim/bundle/repeat.vim
  url = https://github.com/tpope/vim-repeat.git

# Allow terminal-style key bindings (i.e. ctrl + a)
[submodule "vim/bundle/vim-rsi"]
	path = vim/bundle/vim-rsi
  url = https://github.com/tpope/vim-rsi.git

# Faster loading when editing extremely large files
[submodule "vim/bundle/LargeFile"]
	path = vim/bundle/LargeFile
  url = https://github.com/vim-scripts/LargeFile.git

# Ability to add/remove surrounding quotes, etc.
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git

####### VI Syntax Highlighting ########

# Prettier
[submodule "vim/bundle/vim-prettier"]
	path = vim/bundle/vim-prettier
	url = git@github.com:prettier/vim-prettier.git

# ctrlp
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git

# Tagbar
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git

# Auto pairs
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git

# Import Finder
[submodule "vim/bundle/vim-import-js"]
	path = vim/bundle/vim-import-js
	url = git@github.com:Galooshi/vim-import-js.git

# Ruby auto formatter
[submodule "vim/bundle/rufo-vim"]
	path = vim/bundle/rufo-vim
	url = git@github.com:ruby-formatter/rufo-vim.git

# Ale
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = git@github.com:w0rp/ale.git

# Fuzzy finder vim extention
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git

# Airline Themes
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/--force
	url = git@github.com:vim-airline/vim-airline-themes.git

# HTML Snippets
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git

# Emoji
[submodule "vim/bundle/vim-emoji"]
	path = vim/bundle/vim-emoji
	url = git@github.com:junegunn/vim-emoji.git

# Vim CSS Color
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git@github.com:ap/vim-css-color.git

# Syntax highlighting for a bunch of stuff
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/bundle/vim-gutentags"]
	path = vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
